
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/svg" href="/weblogo.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content="{Astro.generator}" >
	<meta name="robots" content="index, follow">
	<title>ArisFolio</title>

	<style>
		.title {
			font-family: JetBrains Mono;
			font-size: 29px;
			color: rgb(0, 0, 0);
			text-align: center;
		}
		
	</style>
</head>
<body>
	<h1 class="title">ArisFolio</h1>
	<img alt="Logo" src="/weblogo.svg" width="90" height="90">
	
</body>
</html>