
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/webp" href="public/weblogo.webp" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content="{Astro.generator}" >
	<meta name="robots" content="index, follow">
	<title>ArisFolio</title>

	<style>
		.title {
			font-family: JetBrains Mono;
			font-size: 35px;
			color: rgb(0, 0, 0);
			text-align: center;
		}
		
		.logo {
			
		}
	</style>
</head>
<body>
	<header class="title">ArisFolio</header>
	<img alt="Web Logo" loading="eager" src="public/weblogo.webp" width="90" height="90">
	
</body>
</html>